Source: wult
Section: utils
Priority: optional
Maintainer: Juha Haapakorpi <juha.haapakorpi@intel.com>
Build-Depends: debhelper (>= 12),
               dh-python,
               python3-all (>= 3.7),
               python3-setuptools,
               pepc (>= 1.5.19),
               stats-collect (>= 1.0.33),
               libbpf-dev,
               python3-pytest,
               python3-py,
               python3-iniconfig,
               python3-exceptiongroup,
               python3-pandas,
               python3-plotly,
               python3-pluggy
Standards-Version: 3.9.8
Homepage: https://intelpedia.intel.com/ServerPowerLab/Wult
X-Python3-Version: >= 3.6

Package: wult
Architecture: any
Multi-Arch: foreign
Depends: python3:any (>= 3.7~),
         pepc (>= 1.5.19),
         stats-collect (>= 1.0.33),
         python3-wult,
         python3-pepc (>= 1.3.34),
         python3-stats-collect (>= 1.0.4),
         ${misc:Depends},
         ${python3:Depends},
         kmod,
         network-manager,
         pciutils
Description: Tool for measuring C-state latency in Linux.
 The name Wult comes from "Wake Up Latency Tracer". Wult measures C-state
 latency by scheduling a delayed interrupt at a known time in the future, so it
 relies on devices allowing for delayed interrupts. Today wult can use LAPIC as
 the source of delayed interrupts, as well as I210 PCIe Gigabit Ethernet
 adapter. However, other devices could be supported as well, for example other
 Intel Ethernet adapters.

Package: python3-wult
Architecture: all
Multi-Arch: foreign
Depends: python3:any (>= 3.7~),
         pepc (>= 1.5.19),
         stats-collect (>= 1.0.33),
         python3-colorama,
         python3-argcomplete,
         python3-yaml,
         ${misc:Depends},
         ${python3:Depends}
Description: Wult Python libraries.
 Wult Python libraries.
