#!/usr/bin/make -f

%:
	dh $@ --with python3 --buildsystem=pybuild

override_dh_auto_build-arch:
	$(MAKE) CFLAGS="$(CFLAGS) -fpic -pie -g" -C helpers/ndl-helper
	$(MAKE) -C helpers/wult-hrt-helper
	$(MAKE) -C helpers/wult-tdt-helper

override_dh_auto_test:
	cp -r wult ndl exercise-sut defs misc $(shell realpath --relative-to=. .pybuild/*python*/build)
#	dh_auto_test
