#!/usr/bin/make -f

headers_path = $(shell readlink -f /usr/src/linux-headers-*-common | tail -n1)

inc_args = \
	-I$(headers_path)/tools/include \
	-I$(headers_path)/tools/lib

%:
	dh $@ --with python3 --buildsystem=pybuild

override_dh_auto_build-arch:
	$(MAKE) CFLAGS="$(CFLAGS) -fpic -pie -g" -C helpers/ndlrunner
	$(MAKE) U_INC="$(inc_args)" -C helpers/wultrunner

override_dh_auto_test:
	: # do nothing
## 'pytest' currently broken in target environment, re-enable when it's fixed:
#	python_path = $(shell realpath --relative-to=. .pybuild/*python*/build)
#	cp -r wult ndl defs js misc $(python_path);
#	dh_auto_test

override_dh_install:
	dh_install
	cd debian/wult/usr/share/wult; rm -r drivers helpers;
