body {
    margin: 8px;
}

.descr {
    font-family: Arial, sans-serif;
    font-size: 15px;
    padding-bottom: 20px;
}

.plot {
    position: relative;
    height: 100%;
    width: 100%;
    grid-column-start: span 3;
}

.frame {
    height: 100%;
    width: 100%;
}

.table {
    table-layout: fixed;
    border-collapse: collapse;
    width: auto;
}

.table th {
    font-family: Arial, sans-serif;
    font-size: 15px;
    font-weight: bold;
    padding: 10px 5px;
    border-style: solid;
    border-width: 1px;
    overflow: hidden;
    word-break: normal;
    border-color: black;
    text-align: center;
    background-color: rgb(161, 195, 209);
}

.table td {
    font-family: Arial, sans-serif;
    font-size: 14px;
    padding: 5px 10px;
    border-style: solid;
    border-width: 1px;
    overflow: hidden;
    word-break:normal ;
    border-color:black;
    background-color: rgb(237, 250, 255);
}

.table .td-colname {
    font-size: 15px;
    font-weight: bold;
    text-align: left;
}

.table .td-value {
    text-align: left;
}

.table .td-funcname {
    text-align: left;
}

abbr, acronym
{
    cursor: help;
    text-decoration: none;
}
